<!DOCTYPE html>

<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>My forum</title>
</head>
<body>
    
    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>General information</h1>
            </div>
            <div class="subforum-row"></div>
            <div class="subforum-description">
                <p>Um fórum sobre tecnologia</p>               
            </div> 
            <div>
                <h2>Topicos</h2>
            </div>
            <div>
                <a routerLink="/computador">Computador</a>
                <a routerLink="/smartphone">Smartphone</a></div>
        </div>
    </div>
       
</body>
</html>

